*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
}

.title{
height: 50px;
display : flex;
flex-direction: row;
justify-content: center;
color: aqua;
background-color: black;
align-items: center;
font-size: large;
}
#intro{
    font-style: italic;
    font-size: 25px;
    font-weight: 800;
    font-family: cursive, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
a{
    text-decoration: none;
}
.director{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}